---
import Link from "./Link.astro";
import Badge from "./Badge.astro";
import Location from "./Location.astro";
const { timeframe, title, description, url, tags, location } = Astro.props;
---

<div class="card border shadow-md my-2 tracking-tighter">
  <div class="card-body">
    <div class="flex justify-between items-center">
      <h1 class="card-title font-bold">
        {title}
        {url && <Link url={url} />}
      </h1>
      {timeframe && <Badge text={timeframe} />}
    </div>
    {location && <Location location={location} />}
    <article class="prose max-w-none">
      <Fragment set:html={description} />
    </article>
    {
      Array.isArray(tags) && (
        <div class="flex flex-wrap gap-2">
          {tags.map((item) => (
            <Badge text={item} />
          ))}
        </div>
      )
    }
  </div>
</div>